.vscode/**
.vscode-test.mjs
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts

# Folders
node_modules

# Files
.vscode-test.mjs
CHANGELOG.md
eslint.config.mjs
