.vscode/**
.vscode-test.mjs
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
resources/dark/angular-files-icon-A-only.svg
resources/dark/angular-files-icon.svg
**/*.map
**/*.ts

# Folders
node_modules

# Files
.vscode-test.mjs
CHANGELOG.md
eslint.config.mjs
